<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.emfsplitter.target" sequenceNumber="21">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.15"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.100.v20200303-1901"/>
			<unit id="org.eclipse.sdk.ide" version="4.15.0.I20200305-0155"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2020-03"/>
			<unit id="org.eclipse.acceleo.feature.group" version="3.7.10.202002210922"/>
			<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.2.201912020813"/>
			<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="4.2.0.v201912111246"/>
			<unit id="org.eclipse.sirius.properties.feature.feature.group" version="6.3.0.201910180815"/>
			<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="6.3.0.201910180815"/>
			<unit id="org.eclipse.sirius.samples.feature.group" version="6.3.0.201910180815"/>
			<unit id="org.eclipse.sirius.specifier.feature.group" version="6.3.0.201910180815"/>
			<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="6.3.0.201910180815"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/epsilon/updates/"/>
			<unit id="org.eclipse.epsilon.concordance.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.hutn.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.hutn.feature.feature.group" version="1.5.1.201809302027"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://jdelara.github.io/DSL-tao/update-site/"/>
			<unit id="org.mondo.editor.feature.feature.group" version="0.3.16.201602251610"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.googlecode.json-simple</groupId>
					<artifactId>json-simple</artifactId>
					<version>1.1.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>javax.ws.rs</groupId>
					<artifactId>javax.ws.rs-api</artifactId>
					<version>2.1.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>jakarta.ws.rs</groupId>
					<artifactId>jakarta.ws.rs-api</artifactId>
					<version>3.1.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.glassfish.jersey</groupId>
					<artifactId>jax-rs-ri</artifactId>
					<version>2.0-m13-3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.glassfish.jersey.core</groupId>
					<artifactId>jersey-common</artifactId>
					<version>3.0.8</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.glassfish.jersey.core</groupId>
					<artifactId>jersey-client</artifactId>
					<version>2.13</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>