<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.emfsplitter.target" sequenceNumber="16">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.concordance.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.hutn.dt.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.hutn.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.uml.dt.feature.feature.group" version="1.4.0.201611012202"/>
<unit id="org.eclipse.epsilon.uml.feature.feature.group" version="1.4.0.201611012202"/>
<repository location="http://download.eclipse.org/epsilon/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.export.feature.source.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.examples.source.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.source.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.feature.tools.source.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.sdk.feature.source.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.14.0.201705161212"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.14.0.201705161212"/>
<repository location="http://download.eclipse.org/graphiti/updates/0.14.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.equinox.launcher.feature.group" version="3.7.2.201708211328"/>
<unit id="org.eclipse.acceleo.feature.group" version="3.7.2.201708211328"/>
<unit id="org.eclipse.acceleo.query.feature.group" version="6.0.2.201708211328"/>
<unit id="org.eclipse.acceleo.query.source.feature.group" version="6.0.2.201708211328"/>
<unit id="org.eclipse.acceleo.source.feature.group" version="3.7.2.201708211328"/>
<unit id="org.eclipse.gmf.examples.runtime.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.gmf.examples.runtime.ui.pde.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.11.0.201706061354"/>
<unit id="org.eclipse.gmf.runtime.notation.source.feature.group" version="1.11.0.201706061354"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.gmf.runtime.thirdparty.source.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.gmf.source.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.m2m.atl.doc.feature.group" version="3.8.0.v201705182014"/>
<unit id="org.eclipse.m2m.atl.examples.feature.group" version="3.8.0.v201705182014"/>
<unit id="org.eclipse.m2m.atl.feature.group" version="3.8.0.v201705182014"/>
<unit id="org.eclipse.m2m.atl.profiler.feature.group" version="3.8.0.v201705182014"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.8.0.v201705182014"/>
<unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sirius.doc.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.properties.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.aql.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.ocl.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.samples.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.samples.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.tests.support.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.tests.support.source.feature.group" version="5.1.0.201710261549"/>
<repository location="http://download.eclipse.org/sirius/updates/releases/5.1.0/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.bval.source" version="0.3.0.v201205161050"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.cli.source" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
<unit id="org.apache.commons.compress.source" version="1.6.0.v201310281400"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.net.source" version="3.2.0.v201305141515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mondo.editor.feature.feature.group" version="0.3.16.201602251610"/>
<repository location="http://jdelara.github.io/DSL-tao/update-site/"/>
</location>
</locations>
</target>
